.seat-seat{
    margin: 0;
    width: 50px;
    height: 50px;
    border-radius: 15%;
    color: transparent;
    cursor: pointer;
}
.seat-available:hover{
    background-color: rgb(61, 160, 209);

}

.seat-available{
    background-color: rgb(76, 195, 255);
}

.seat-booked{
    background-color: #858585;
}
.seat-booked:hover{
    background-color: #a5a5a5;
}
.selected{
    background-color: rgb(0, 82, 123);
    border: 2px solid #07d100;
}
.selected:hover{
    background-color: rgb(1, 70, 105);
    border: 3px solid #ff7171;

}

