*{
    font-family: sans-serif;
}
.wrapper{
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content:center;
    overflow: hidden;
    padding-bottom: 50px;
}
.form-wrapper{
    display: flex;
    flex-direction: column;
    margin-top: 40px;
    color: #a5a5a5;

}
.formed{
    display: flex;
    flex-direction: column;
    background-color: #1b1b1b;
    flex-direction: row;
    align-items: baseline;
    justify-content: space-between;
    max-width: 100%;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(255, 255, 255, 0.3);
}

.last-row{
    border: none;
}


.input-fields {
    padding: 20px 5px;
    margin: 0;
    margin-left:10px ;
    color: rgb(192, 192, 192);
    font-weight: 400;
    outline: none;
    width: 100%;
    font-size: large;
    border: transparent;
    background-color: transparent; 

}
.search-group{
    padding-left: 20px;
    border-right: 2px solid #2c2c2c;
    display: flex;
}

.button-group{
    padding-right: 10px;
    font-weight: bolder;
    font-family: sans-serif;
    align-items: center;
    justify-content: center;
    /* width:10%; */
    margin-right: 10px;
}

.search-button {
    padding: 15%;
    font-weight: 100;
    font-family: sans-serif;
    align-items: center;
    justify-content: center;
    margin-right: 10px ;
    margin-left:10px ;
    background-color: #f5f5f5;
    color: black;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    
}

.search-button:hover {
    background-color: #333333;
    font-weight: 100;
    color: #75ff81;
    border: 0.5px solid rgba(255,255,255,0.3);
    box-shadow: 0 0 2px #75ff81;
    transition: 0.25s;

}

::placeholder {
    font-weight: 400;
    font-size:medium;
    padding-left: 5px;
    color: #757575;
  }

.options-menu{
    background-color: rgba(147, 147, 147, 0.235);
    margin-top: 10px;
    border-radius: 20px;
    
}

.options{
    cursor: pointer;
    padding: 15px 10px;
    color :#a5a5a5;

}
.options:hover{
    color: #f5f5f5;
}
.MuiOutlinedInput-notchedOutline {
    border: none ! important ;
  }

  .css-nxo287-MuiInputBase-input-MuiOutlinedInput-input {
    color: #a5a5a5 !important;
    padding: 0 !important;
    width: 50% !important;
  }

  .css-o9k5xi-MuiInputBase-root-MuiOutlinedInput-root{
    padding: 0 !important;
    justify-self: center !important;
  }

  .today-button{
    padding: 2%;
    max-width: 70px;
    background: transparent;
    border: 1px solid #a5a5a5;
    color:#a5a5a5;
    border-radius: 10px;
    font-weight: 200;
    font-size: medium;
    position:relative;
    right: 30px;
    bottom: 3px;

  }
  .today-button:hover{

    background-color: #333333;
    color: #ffe70e;
    border: 0.5px solid rgba(255, 255, 255, 0.3);
    box-shadow: 0 0 2px #ffe70e;
    transition: 0.2s;
  }

.css-nxo287-MuiInputBase-input-MuiOutlinedInput-input{
    padding: 0 !important;
}

.css-i4bv87-MuiSvgIcon-root{
    fill: #929292 !important;
}
.css-i4bv87-MuiSvgIcon-root :hover{
    fill: #83eeff !important;
}
.css-1yq5fb3-MuiButtonBase-root-MuiIconButton-root:hover{
    fill: #83eeff !important;

}
.css-nk89i7-MuiPickersCalendarHeader-root{
    padding-right: 90px !important;
}

.css-1u23akw-MuiButtonBase-root-MuiPickersDay-root:hover{
    background-color: #929292 !important;
}

.css-1vooibu-MuiSvgIcon-root:hover{
    background-color: transparent !important;
}
.css-cyfsxc-MuiPickersCalendarHeader-labelContainer{
    margin: 0;
}
button:hover{
    border:none !important;
    fill: #83eeff !important;
}


.no-value-error{
    color: rgb(255, 96, 96);
    padding: 10px;
    transition: 0.5s;
    transition: 2s;
    box-shadow: 0 .3px 3px red;
}

.css-kg9q0s-MuiButtonBase-root-MuiIconButton-root-MuiPickersArrowSwitcher-button:hover{
    color: #6f4fff !important;
}
.css-1nkg345-MuiButtonBase-root-MuiIconButton-root-MuiPickersArrowSwitcher-button:hover{
    color: #6f4fff !important;

}