*{
    font-family: 'Roboto', sans-serif
}
h1{
    padding: 0;
    margin: 0;
}

h3{
    font-weight: 200;
    color:darkgrey;
    margin: 10px 0px;
}
.flex-container{
    display: flex;
    margin: 10vh;
    flex-wrap: wrap;
    justify-content:space-between;
}

.login-container{
    flex: 1 1 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    /* align-items: center; */
}
form{
    
    padding:20px 0px;
    

}

.form-group {
    margin-bottom: 20px; 
}

label {
    display: block; 
    margin-bottom: 5px; 
    font-weight:bold; 
}

input[type="text"],
input[type="email"],
input[type="password"] {
    width: 50%;
    padding: 10px;
    background-color:#f1f1f1;
    border: none;
    border-radius: 10px;
}

button {
    display: block;
    width: 53%;
    padding: 10px 10px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color: #0056b3;
}



.image-container{
    padding: 0;
    margin: 0;
}
.image-container img{
  max-width: 100%; /* Make the image responsive */
  height: auto; /* Maintain aspect ratio */
  max-height: 500px; 
  border-radius: 20px;
}